# Preprocessing
Hal yang dilakukan:
1. Common Preprocessing
    1. Remove ASCII.
    2. Tokenization
    3. Case folding, convert into lowercase
    4. Repeated dot (sedih... -> sedih.)
    5. Repeated character ('hehe :)))' -> 'hehe :)')
    6. Remove elipsis (lanjut baca... -> lanjut baca)
    7. Repeated word that has meaning ('malam malam' -> 'malam-malam')
    8. Remove newline
2. Specific Preprocessing
    1. Special symbols on Twitter, removing hashtag, mention, RT, and FAV
    2. Remove all emoticons
    3. Remove URL
    4. Spell checker using noisy channel approach

In [1]:
import pandas as pd

In [2]:
df_tweets = pd.read_csv('s_tweets11.csv')
df_tweets.shape

(2331, 6)

In [3]:
df_tweets.head()

,id_user,username,created_at,latitude,longitude,text
0,2249861994,ekowhy_u,2018-02-17 12:10:40,NaN,NaN,Makan malem gaes
1,112952478,anggipreyya,2018-02-17 12:07:37,NaN,NaN,"Hangiri sushi, yg makan chiness chiness.."
2,1637339378,Amar_Yunan,2018-02-17 12:06:54,NaN,NaN,Jangan biasakan dirimu tergantung pd orang lai...
3,816516,elyse,2018-02-17 11:39:44,-7.143435,110.405118,Highlight of Chinese New Year trip to Semarang...
4,122717275,bayuandoro,2018-02-17 11:37:57,NaN,NaN,Manfaat Makan Bersama dengan Tim Kerja https:/...